version: '3'
services:
  web:
    build: .
    depends_on:
      - redis
  redis:
    image: "redis:alpine"
    volumes:
      - ./redis_data:/data
  nginx:
    image: "nginx:alpine"
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
